doctype html
html(lang='sk')
  head 
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title= title
  body 
    h1(style='text-align:center;')= headline
    p= message
    img(src='images/img.jpg', style='width:300px; height: 300px')