ul(class='navbar')
      li(style='display: inline-block')
       a(href='/', style='margin-right: 15px;') Úvod
      li(style='display: inline-block')
        a(href='/produkty', style='margin-right: 15px;') Produkty
      li(style='display: inline-block')
        a(href='/clanky', style='margin-right: 15px;') Články
      li(style='display: inline-block')
        a(href='/kontakt') Kontakt